.chat {
  /* position: absolute; */
  flex-shrink: 0;
  height: 400px;
  width: 60%;
  top: 3em;
  right: 0.5em;
  bottom: 3em;
  left: 0.5em;
  margin: 3em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  overflow: auto;
  background: #FBFBEA;
}

.time {
  color: darkgray;
}
