
.main {
  /* max-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  */

  /* display: grid;
  place-items: center; */

  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr auto;
}
